# Ignore everything by default
/*

# Allow specific modules
!/base/
!/hyprland/
!/.gitignore
!/README.md

# STRICTLY IGNORE within the allowed modules (Safety Net)
**/.ssh/*
**/*.key
**/*.pem
**/*history*
**/histfile
**/.zcompdump*
**/.lesshst

# Specific ignores:
base/.vim/plugged/
